.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center ;
}

.item-xenter{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}   

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 5px;
}

.m-1{
    margin: 5px;
}

.filter{
    filter:invert(1);
}

.p1{
    padding: 10px;
}